<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Thông tin sách</title>

</head>
<body>

<h2 th:text="${book.id} == null ? 'Thêm Sách Mới' : 'Cập Nhật Sách'"></h2>

<form th:action="@{/books/save}" th:object="${book}" method="post">

  <input type="hidden" th:field="*{id}" />

  <label for="title">Tên sách:</label>
  <input type="text" id="title" th:field="*{title}" placeholder="Nhập tên sách..." required />

  <label for="author">Tác giả:</label>
  <input type="text" id="author" th:field="*{author}" placeholder="Nhập tên tác giả..." required />

  <button type="submit">Lưu lại</button>
</form>

<a href="/books" class="cancel-link">Quay lại danh sách</a>

</body>
</html>